<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAAeN9utXGZrDQoYHaf_vJl6tTWk7_K5ds</string>
	<key>CAL_API_KEY</key>
	<string>csk-vdmtnmk8nv3wvrx98dwmxh49f84h3vhkc4p8xhhd546j4ftn</string>
</dict>
</plist>
