<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC6rumEr3WijSWnbdFbOddoTILnfjYNFGE</string>
	<key>GCM_SENDER_ID</key>
	<string>872285069752</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tideparty.Tideparty</string>
	<key>PROJECT_ID</key>
	<string>tidetraveler-c0b6a</string>
	<key>STORAGE_BUCKET</key>
	<string>tidetraveler-c0b6a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:872285069752:ios:210696bb374c6e8a892f4d</string>
</dict>
</plist>